PORT = 3000 
DATABASE_URL="AQUI VOCÊ DEVE COLOCAR A URL DO SEU BANCO DE DADOS, CASO NÃO TENHA, CRIE UMA CONTA NO NEON E COLOQUE A URL AQUI"

CHAVE_SECRETA="AQUI VOCÊ DEVE COLOCAR UMA SENHA MUITO SECRETA, PODE SER QUALQUER COISA, MAS NÃO ESQUEÇA DE MUDAR ESSA SENHA PARA UMA SENHA FORTE E SEGURA"
expiresIn = "AQUI VOCÊ DEVE COLOCAR O TEMPO DE EXPIRAÇÃO DO TOKEN, POR EXEMPLO: 1h, 30m, 15s, ETC."